<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">app/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="APP_KEY" value="base64:LG787oR5OlescEBJp22HBJppmKiUJmrm13SfdZ1UT30="/>
        
        <env name="SUBSTATION_USE_LIVENET" value="1"/>

        <env name="DATABASE_DRIVER" value="testing"/>
        <env name="WALLETS_DATABASE_DRIVER"  value="testing_wallets"/>

        <env name="FEE_SATOSHI_PER_BYTE" value="40"/>
        <env name="MAX_TX_OUTPUTS" value="150"/>
    </php>
</phpunit>
