
body {
	margin: 0;
    overflow-X: hidden;
    font-family: 'book antiqua', palatino !important;
	color: #424242 !important;
	font-size: 16px;
}

.centered {
	text-align: center;
}

.main-content {
	margin-top: 60px;
	width: 100%;
	max-width: 100%;
}

.welcome-section {
	min-height: 100vh;
	padding: 75px 0px;
}

.welcome-section-heading {
	margin-bottom: 20px;
}

.welcome-section header {
	font-size: 32px;
	font-weight: 600;
	margin: 0px;
	margin-bottom: 20px;
}

.welcome-section p {
	margin-bottom: 20px;
}

#home-hero {
	background: #fff !important;
/*    background: -moz-linear-gradient(top, #480101 0%, #810000 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#480101), color-stop(100%,#810000)) !important;
    background: -webkit-linear-gradient(top, #480101 0%,#810000 100%) !important;
    background: -o-linear-gradient(top, #480101 0%,#810000 100%) !important;
    background: -ms-linear-gradient(top, #480101 0%,#810000 100%) !important;
    background: linear-gradient(to bottom, #480101 0%,#810000 100%) !important;*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#480101', endColorstr='#810000',GradientType=0 ) !important;*/
}

.small-tokenly{
	position: relative;
	width: 100px;
	display: block;
	margin-top: 20px;
	margin-left: 20px;
}

.small-tokenly img{
	max-width: 100%;
}

.navbar-header .logo{
	display: block;
	position: relative;
	width: 150px;
}

.navbar-header .logo img{
	max-width: 100%;
}

.distro-info{
	display: block;
	margin: 0px;
	padding: 0px;
}

.distro-info li{
	list-style-type: none;
	display: block;
	margin: 0px;
	padding: 0px;
}

.distro-history-table .btn{
	font-size: 11px;
	padding: 3px 5px;
	margin-top: 3px;
	display: block;
	width: auto;
	text-align: center;
}

#home-hero {
	
}

.home-hero-header {
	margin-bottom: 20px;
}

#home-hero header {
	color: #212121;
	font-size: 40px;
}

#home-hero h2 {
	color: #424242;
	font-size: 24px;
	font-weight: 600;
	margin: 0px;
	margin-bottom: 20px;
}
.home-hero-content {
	padding: 30px;
    padding-bottom: 0px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 15px;
}

.home-hero-content-left, .home-hero-content-right {
	flex: 1;
	padding: 15px;
}

.home-hero-content-left {
	text-align: justify;
}

.home-hero-content-right iframe {
	max-width: 100%;
	width: 100%;
}

.welcome-section-divider {
	width: 100px;
	max-width: 33%;
	display: inline-block;
	border-top: 3px solid #C61410;
	padding-bottom: 20px;
}

.welcome-section-divider.light {
	border-top: 3px solid #fff;
}

@media(max-width: 900px) {
	.home-hero-content {
	    display: block;
	}

	.home-hero-content-left, .home-hero-content-right {
		display: block
	}


	#home-hero header {
		font-size: 32px;
	}

	#home-hero h2 {
		font-size: 20px;
	}
}

#about {
	color: #fff;
	background: #C61410 !important;
    background: -moz-linear-gradient(top, #C61410 0%, #810000 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C61410), color-stop(100%,#810000)) !important;
    background: -webkit-linear-gradient(top, #C61410 0%,#810000 100%) !important;
    background: -o-linear-gradient(top, #C61410 0%,#810000 100%) !important;
    background: -ms-linear-gradient(top, #C61410 0%,#810000 100%) !important;
    background: linear-gradient(to bottom, #C61410 0%,#810000 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C61410', endColorstr='#810000',GradientType=0 ) !important;
}

.welcome-cta {
	text-decoration: none !important;
	padding: 12px 120px;
	border-radius: 3px;
	box-shadow: 0px 1px 5px #e9e9e9, inset 0px 1px 2px rgba(255,255,255,0.1);
	display: inline-block;
	font-size: 20px;
	transition: 0.2s;
	font-weight: 600;
	letter-spacing: -0.5px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.05);
}

.welcome-cta.green {
	background: #10C64B;
    border: 1px solid #007928;
	color: #fff !important;
}

.welcome-cta.green:hover {
	background: #007928;
	box-shadow: none;
}

.welcome-section-content {
	padding: 30px;
    padding-bottom: 0px;
    max-width: 1200px;
    margin: 0 auto;
}