
body {
	margin: 0;
    overflow-X: hidden;
    /*font-family: 'book antiqua', palatino !important;*/
    font-family: 'Lato', sans-serif;
    /*font-family: 'Cousine', sans-serif;*/
	color: #424242 !important;
	font-size: 16px;
}

.centered {
	text-align: center;
}

.main-content {
	margin-top: 50px;
	width: 100%;
	max-width: 100%;
	min-height: 100vh;
}

.welcome-section {
	padding: 50px 0px;
}

.welcome-section.full {
	min-height: 100vh;
}

.welcome-section-heading {
	margin-bottom: 20px;
}

.welcome-section header {
	font-size: 40px;
	font-weight: 600;
	margin: 0px;
	margin-bottom: 20px;
	color: #212121;
}

#home-hero p {
	margin-bottom: 20px;
	color: #f9f9f9;
}

#home-hero {
	background: url(https://www.toptal.com/designers/subtlepatterns/patterns/confectionary.png);
	background: url(https://www.toptal.com/designers/subtlepatterns/patterns/footer_lodyas.png);
	position: relative;
	z-index: 1;
}

#home-hero-mask {
	background: #fff !important;
    background: -moz-linear-gradient(right, #D31511 0%, #810000 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D31511), color-stop(100%,#810000)) !important;
    background: -webkit-linear-gradient(right, #D31511 0%,#810000 100%) !important;
    background: -o-linear-gradient(right, #D31511 0%,#810000 100%) !important;
    background: -ms-linear-gradient(right, #D31511 0%,#810000 100%) !important;
    background: linear-gradient(to right, #D31511 0%,#810000 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D31511', endColorstr='#810000',GradientType=0 ) !important;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -9;
    opacity: 0.85;
}

#home-hero {
/*	background: rgb(198, 20, 16);
	background: #D31511;*/
}

.welcome-section#secondary-cta {
	background: #fff !important;
    background: -moz-linear-gradient(right, #D31511 0%, #810000 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D31511), color-stop(100%,#810000)) !important;
    background: -webkit-linear-gradient(right, #D31511 0%,#810000 100%) !important;
    background: -o-linear-gradient(right, #D31511 0%,#810000 100%) !important;
    background: -ms-linear-gradient(right, #D31511 0%,#810000 100%) !important;
    background: linear-gradient(to right, #D31511 0%,#810000 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D31511', endColorstr='#810000',GradientType=0 ) !important;
	padding: 70px 0px;
}

#secondary-cta header {
	color: #fff;
}

#secondary-cta h4 {
	color: #f9f9f9;
}

#use-cases {
	background: #fdfdfd;
	border-top: 2px #eee solid;
}

#how-it-works {
	border-top: 2px #eee solid;
    border-bottom: 2px #eee solid;
}
.welcome-section-content.flex {
	display: flex;
}

.welcome-section-content__section {
	flex: 1;
}

.small-tokenly{
	position: relative;
	width: 100px;
	display: block;
	margin-top: 20px;
	margin-left: 20px;
}

.small-tokenly img{
	max-width: 100%;
}

.navbar-header .logo{
	display: block;
	position: relative;
	width: 150px;
}

.navbar-header .logo img{
	max-width: 100%;
}

.distro-info{
	display: block;
	margin: 0px;
	padding: 0px;
}

.distro-info li{
	list-style-type: none;
	display: block;
	margin: 0px;
	padding: 0px;
}

.distro-history-table .btn{
	font-size: 11px;
	padding: 3px 5px;
	margin-top: 3px;
	display: block;
	width: auto;
	text-align: center;
}

.home-hero-header {
	margin-bottom: 20px;
	display: flex;
}

#home-hero header {
	color: #fff;
	font-size: 60px;
	letter-spacing: -1px;
    text-align: left;
    font-weight: 700;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.7);
}

#home-hero h2 {
	color: #f9f9f9;
	font-size: 28px;
	font-weight: 600;
	margin: 0px;
	margin-bottom: 30px;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}

#home-hero p {
	text-align: justify;
}

.home-hero-content {
	padding: 30px;
    padding-bottom: 0px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 15px;
}

.home-hero-cta {
	margin-top: 40px;
}

.home-hero-content-left, .home-hero-content-right {
	padding: 25px;
}
.home-hero-content-left {
	flex: 3;
}
.home-hero-content-right {
	flex: 2;
}

.home-hero-content-left {
	text-align: justify;
}

.home-hero-content-right iframe {
	max-width: 100%;
	width: 100%;
}

.welcome-section-divider {
	width: 80px;
	max-width: 33%;
	display: inline-block;
	border-top: 3px solid #C61410;
	padding-bottom: 30px;
}

.welcome-section-divider.light {
	border-top: 2px solid #fff;
}

@media(max-width: 900px) {

	.home-hero-header {
		display: block;
	}
	.home-hero-content {
	    display: block;
	}

	.home-hero-content-left, .home-hero-content-right {
		display: block
	}


	#home-hero header {
		font-size: 48px;
	}

	#home-hero h2 {
		font-size: 24px;
	}

	.home-hero-cta {
		text-align: center;
	}
	
	.how-it-works-row {
		display: block !important;
		padding: 15px !important;
	}

	.how-it-works-row__panel {
		display: block;
		padding: 15px !important;
	}

	.full-screen-only {
		display: none !important;
	}

	.mobile-only {
		display: inherit !important;
	}

	#how-it-works h3::before {
	    font-size: 8rem !important;
	    left: -3rem !important;
	    top: -6rem !important;
	}

	.welcome-section {
		padding: 25px 0px !important;
	}

	.welcome-section header {
		font-size: 32px;
	}
	
	.use-cases {
		width: 100% !important;
		text-align: center !important;
	}

	.use-cases__content {
		max-width: 400px;
	}

	.use-cases__content__header {
		text-align: center !important;
	}

	.welcome-section#secondary-cta {
		padding: 50px 0px;	
	}

	.welcome-section-content.flex {
		display: block !important;
		text-align: center;
	}

	.welcome-section-content__section {
		display: block !important;
	}
}

.full-screen-only {
	display: inherit;
}

.mobile-only {
	display: none;
}

@media(max-width: 600px) {

	#home-hero header {
		font-size: 40px;
	}

	#home-hero h2 {
		font-size: 22px;
	}

	.home-hero-cta {
		text-align: center;
	}
}

#about {
	background: #fdfdfd;
	color: #424242;
}

.welcome-section-heading p {
	font-size: 20px;
	margin-bottom: 20px;
}

#about-merged-folding p {
	font-size: 18px;
	margin-bottom: 20px;
}

.welcome-cta {
	text-decoration: none !important;
	padding: 15px 120px;
	border-radius: 30px;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.05), inset 0px 1px 2px rgba(255,255,255,0.1);
	display: inline-block;
	font-size: 20px;
	transition: 0.2s;
	font-weight: 600;
	letter-spacing: -0.5px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.05);
	transition: 0.5s;
}

.welcome-cta.green {
	background: #10C64B;
    border: 1px solid #007928;
	color: #fff !important;
}

.welcome-cta.green:hover {
	background: #007928;
	box-shadow: none;
}

.welcome-cta.blue {
	background: #29B6F6;
	color: #fff;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #01579B 0%, #29B6F6 51%, #01579B 100%);
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 1px 2px rgba(0,0,0,0.2);
}

.welcome-cta.blue:hover {
	background-position: right center;
}

.welcome-cta.white {
	background: #fff;
	color: #D31511;
}

.welcome-cta.white:hover {
}

.welcome-section-content.hero {
	max-width: 1200px;
}

.welcome-section-content {
	padding: 15px;
    padding-bottom: 0px;
    max-width: 1000px;
    margin: 0 auto;
}

.navbar-cta {
    color: #fff;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #D31511 0%, #810000 51%, #D31511 100%);
    background-image: linear-gradient(to right, #D31511 0%, #810000 51%, #D31511 100%);
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 1px 2px rgba(0,0,0,0.2);
    padding: 5px 15px;
    border-radius: 30px;
}

.navbar-default .navbar-nav>li>a {
	color: #424242 !important;
}

.navbar-default .navbar-brand {
	color: #212121;
}

.home-hero-link {
	font-weight: 700;
    color: #FFB74D;
    font-size: 18px;
    text-decoration: none !important;
}

.home-hero-link:hover {
	color: #FFB74D;
}

.home-hero-scroll {

}

.home-hero-scroll i {
	display: inline-block;
    line-height: 50px;
    height: 50px;
    width: 50px;
    color: #fff;
    background: #212121;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

#how-it-works h3 {
	position: relative;
	color: #212121;
	font-weight: 700;
	font-size: 30px;
}

#how-it-works h3::before {
	color: #fde8eb;
    content: '1';
    font-size: 14rem;
    font-weight: 700;
    left: -5.5rem;
    line-height: 10rem;
    position: absolute;
    top: -8rem;
    z-index: -1;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.05);
}

#how-it-works h3.step-1::before {
	content: '1';
}

#how-it-works h3.step-2::before {
	content: '2';
}
#how-it-works h3.step-3::before {
	content: '3';
}
#how-it-works h3.step-4::before {
	content: '4';
}

.how-it-works-row {
	padding: 20px 50px;
	display: flex;
}

.how-it-works-row__panel {
	flex: 1;
	padding: 30px;
}

.how-it-works-row__panel img{
	max-width: 100%;
	border: 4px solid #fff;
    border-radius: 4px;
    box-shadow: 0 3px 38px 0 rgba(0,0,0,.06), 0 3px 7px 0 rgba(0,0,0,.06), 0 10px 64px 0 rgba(0,0,0,.09);
    display: inline-block;
    margin: 0 auto;
}

.use-cases {
	position: relative;
	width: 48.5%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	padding: 10px;
}

.use-cases__content {
	box-shadow: 0 3px 38px 0 rgba(0,0,0,.06), 0 3px 7px 0 rgba(0,0,0,.06);
	min-height: 17rem;
	overflow: hidden;
	padding: 3.5rem 6rem 3rem 7.5rem;
	position: relative;
	width: 100%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	background: #fff;
}

.use-cases__content__text {
	display: inline-block;
	width: 100%;
	height: 225px;
}

.use-cases__cta {
	background: #C61410;
	border-radius: 30px;
	color: #fff !important;
	text-decoration: none !important;
	padding: 10px 20px;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.use-cases h3 {
	color: #212121;
	font-size: 16px;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 20px;
}
.use-cases p {
	text-align: justify;
}

.use-cases i {
	font-size: 28px;
}

.use-cases i.fa-heart {
	color: #F44336;
	animation: beat 1s infinite alternate;
}

@keyframes beat{
	to { transform: scale(1.4); }
}


.use-cases i.fa-bullhorn {
	color: #1E88E5;
}

.use-cases i.fa-check-circle {
	color: #43A047;
}

.use-cases i.fa-percent {
	color: #FB8C00;
}

.use-cases__cta i, .use-cases__cta span {
	display: inline-block;
	vertical-align: middle;
}

.use-cases__cta i {
	font-size: 12px;
	margin-left: 3px;
}

.distribution-details {
	width: 24.5%;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
}

.distribution-details__content {
	width: 100%;
	display: inline-block;
	padding: 15px;
	text-align: left;
}

.distribution-details__content h4 {
	color: #212121;
	font-size: 18px;
	font-weight: 700;
}

.distribution-details__content i {
	font-size: 20px;
	display: inline-block;
	margin-bottom: 10px;
	color: #D31511;
}