
.small-tokenly{
	position: relative;
	width: 100px;
	display: block;
	margin-top: 20px;
	margin-left: 20px;
}

.small-tokenly img{
	max-width: 100%;
}

.navbar-header .logo{
	display: block;
	position: relative;
	width: 150px;
}

.navbar-header .logo img{
	max-width: 100%;
}

.distro-info{
	display: block;
	margin: 0px;
	padding: 0px;
}

.distro-info li{
	list-style-type: none;
	display: block;
	margin: 0px;
	padding: 0px;
}

.distro-history-table .btn{
	font-size: 11px;
	padding: 3px 5px;
}
